
.progress1 {
    overflow: hidden;
    height: 13px;
    background-color: #ccc;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    margin-top: 10rem;
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    color: #fff;
    text-align: center;
    background: linear-gradient(90.02deg, #e4b233 3.38%, #e4b233 53.72%, #e4b233 100.03%);
  }
  
  .steper {
    top: 89.5%;
    left: 10%;
  }
  
  .steper2 {
    top: 89.5%;
    left: 35%;
  }
  
  .steper3 {
    top: 89.5%;
    left: 60%;
  }
  
  .steper4 {
    top: 89.5%;
    left: 86%;
  }
  
  .stepper_set {
    width: 30px !important;
    height: 30px;
    border: 3px solid #e4b233;
   
    border-radius: 50pc;
    background-color: #ffffff !important;
    position: absolute !important;
  }
  
  .dot {
    width: 30px !important;
    height: 30px;
    border: 3px solid #e4b233;
   
    border-radius: 50pc;
    background-color: #ffffff !important;
    position: absolute !important;
  }
  
  .dotmove {
    top: 0%;
    left: -97%;
  }
  
  .dotmove2 {
    top: 23%;
    left: -97%;
  }
  
  .dotmove3 {
    top: 48%;
    left: -97%;
  }
  
  .dotmove4 {
    top: 70%;
    left: -97%;
  }
  
  .res_step {
    font-family: Titan One;
    font-size: 16px;
    font-weight: 400;
    width: 90px !important;
    height: 25px;
    border-radius: 12px;
    background: #e4b233;
    color: white;
    position: absolute !important;
  }
  
  .res_step_move {
    top: 0%;
    left: 287%;
  }
  
  .res_step_move2 {
    top: 23%;
    left: 287%;
  }
  
  .res_step_move3 {
    top: 48%;
    left: 287%;
  }
  
  .res_step_move4 {
    top: 70%;
    left: 287%;
  }
  
  .res_para {
    position: absolute !important;
    width: 18rem;
    font-family: Titan One;
  
  }
  
  .res_para_move {
    top: 7%;
    left: 194%;
  }
  
  .res_para_move2 {
    top: 30%;
    left: 194%;
  }
  
  .res_para_move3 {
    top: 55%;
    left: 194%;
  }
  
  .res_para_move4 {
    top: 77%;
    left: 194%;
  }
  
  .pos {
    position: relative !important;
  
  }
  
  .step1 {
    left: 7.5%;
  }
  
  .step2 {
    left: 32.5%;
    top: 70%;
  }
  
  .step3 {
    left: 57.5%;
  }
  
  .step4 {
    left: 83.5%;
    top: 70%;
  }
  
  .step_no {
    font-family: Titan One;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 90px !important;
    height: 25px;
    border-radius: 12px;
    background: #e4b233;
    position: absolute !important;
    color: white;
  }
  
  .step_para {
    position: absolute !important;
    left: 0%;
    top: 66%;
    width: 25%;
  }
  
  .step_para2 {
    position: absolute !important;
    left: 26%;
    /* top: 38%; */
    width: 25%;
  }
  
  .step_para3 {
    position: absolute !important;
    left: 48%;
    top: 63%;
    width: 25%;
  }
  
  .step_para4 {
    position: absolute !important;
    left: 76%;
    /* top: 38%; */
    width: 25%;
  } 
  


  
  .step_para4 {
    position: absolute !important;
    left: 76%;
    /* top: 38%; */
    width: 25%;
  }
  
  
  .work {
    display: block;
  }
 
  @media screen and (max-width: 766px) {
  
    .work {
      display: none;
    }
  
   
  }
  

 
  
  @media only screen and (min-width:500px) and (max-width:1100px) {
    .margin_faq {
      margin-top: 25%;
    }
  
    .h3_dash {
      font-family: Titan One !important;
      font-size: 25px;
    }
  
    .logo_img {
      width: 130px;
      height: 50px;
    }
  
    .footer_link {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .width_card {
      width: 80%;
      margin: auto;
      margin-top: 3rem !important;
    }
  
    .topping_img {
      width: 100%;
    }
  
    table {
      width: 750px;
      margin: 10px auto;
      font-family: Arial, sans-serif;
      font-size: 14px;
      border-collapse: separate;
      border-spacing: 0 7px;
    }
  }
  
  .demo-preview {
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    text-align: center;
  }
  
  .progress2 {
    background-image: linear-gradient(to bottom, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233);
    border-radius: 3px;
    box-shadow: none;
  }
  
  .progress-xs {
    height: 5px;
    margin-top: 5px;
  }
  
  .vertical {
    position: relative;
    width: 10px;
    height: 800px;
    margin-right: 10px;
  }
  
  .progress-bar2 {
    width: 100% !important;
    position: absolute;
    bottom: 0;
  }
  
  .progress-bar2 {
    background-image: linear-gradient(to bottom, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233, #e4b233);

    box-shadow: none;
  }
  
  .progress-bar2.text-left {
    text-align: left;
  }
  
  .progress-bar2.text-left span {
    margin-left: 10px;
  }
  
  .progress-bar2.text-right {
    text-align: right;
  }
  
  .progress-bar2.text-right span {
    margin-right: 10px;
  }
  .max{
    color: rgb(19, 55, 189);
    font-weight: 700;
  }
  .back_coin{
    background-color: #2d2f3a91;
    border-radius: 50pc;
  
  }
  .swap_icon{
    z-index: 999;
    background-color: #383a4d;
    border: 1px solid rgb(78, 78, 77);
    border-radius: 50pc;
    width: fit-content;
    position: absolute;
    top: 55%;
    left: 48%;
    cursor: pointer;
    color: #07113e;
    font-weight: 900;
    
  }